 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:#fff;
}
html,body{
    height: 100%;
    width: 100%;
}
/*cursor*/
.cursor{
    height: 21px;
    width: 21px;
    border-radius: 50%;
    position: fixed;
    background-color:#D3B2FB;
    z-index: 6;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size:cover;
}
#pink{
    height: 100vh;
    width: 100%;
    top:0;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 100;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
}

.main{
    background-color: #0F0D0D;
    overflow-x: hidden;
    cursor: none;
}
/* page1  */
.page1{
    position: relative;
    z-index: 9;
    min-height: 100vh;
    width: 100%;
    padding-top: 10vw;
}
#nav{
    height: 45px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 103;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
#nav-part2 h4{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#nav-part2 h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
    /* text-decoration: underline; */
}
#nav #circle{
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 50px;
}
.page1 h1{
    font-size: 8vw;
    font-weight: 500;
    color:#ffffff;   
    margin-left: 18vw;
    
}
.page1 h2{
    font-size: 8vw;
    line-height: 15vh;
    font-weight: 500;
    /* margin-top: 12vw; */
    margin-left: 24vw;
    color:#fff;
}
.page1 video{

    /* to make elems in center
    method1
    margin-left: auto;
    margin-right: auto; */
    margin-top: 3vw;
    width: 60%;
    /* method2  */
    position: relative;
    left:50%;
    transform: translate(-50%,0);    
}



/*page2*/
.page2{
    position: relative;
    z-index: 9;
    min-height: 90vh;
    width: 100%;
    /* background-color:#0F0D0D; */
    padding: 90px 6vw;
    border-bottom: 2px solid #b9b3b3 ;
}
.page2 h1{
    font-size: 6vw;
    font-weight: 500;
    position: relative;
    margin-left:5%;
    color: #0F0D0D;
    /* text-transform: uppercase; */
}
.page2-container{
    /* background-color: red; */
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
.page2-left{
    /* background-color: blue; */
    width: 30%;
}
.page2-right{
    /* background-color: blue; */
    width: 50%;
}
.page2-left h2{
    font-size: 2.7vw;
    font-weight: 300;
    color:#0F0D0D;
    line-height: 4vw; 
    text-transform: uppercase;
}
.page2-right p{
    font-size: 1.5vw;
    color: #0F0D0D;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border:none;
    padding: 4px 0; 
    background-color:#D3B2FB;   
    color: #0F0D0D;
    margin-top: 20px;
}


/* page 3 */
.page3{
    width: 100%;
    min-height: 250vh;
    position: relative;
    z-index: 9;
    padding-top: 60px;
    /* background-color: fuchsia; */
    border-bottom: 2px solid #b9b3b3 ;

}
.page3 h1{
    color:#0F0D0D;
    font-size: 6vw;
    margin-left: 10%;
    font-weight: 500;
}
.page3-part1{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;  
}
.page3 .page3-part1 img{
    height: 400px;
    width: 400px;
    margin-left: 120px;
    margin-top: 100px;
}
.page3 .page3-part1 video{
    height: 400px;
    width: 500px;
    margin-right: 120px;

}
.page3 .page3-part2 video{
    height: 400px;
    width: 500px;
    margin-left: 120px;
    margin-top: 100px;
}
    

.page3 .page3-part2 img{
    height: 400px;
    width: 400px;
    position: absolute;
    margin-top:30px;
    left:50%;
    top:45%;
    margin-left:120px;

}
.imgtext{
    /* background-color: red; */
    margin-left: 120px;
    padding: 3px 0px;
    text-align: left;
    line-height: 18px;
}
.page3-part2 .imgtext{
    position:absolute;
    right: 16.5%;
    bottom:21%;
    width: fit-content;
    /* background-color: #5413a4; */
}
.imgtext h5 a{
    
    color:#0F0D0D;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 800;
    text-decoration: none;
}
.imgtext p{
    color: #0F0D0D;
    font-size: 1.2vw;
    font-weight: 500;
}
.vidtext{
    /* background-color: red; */
    margin-right: 120px;
    padding: 3px 0px;
    text-align: left;
    line-height: 18px;
    width: fit-content;
}
.page3-part2 .vidtext{
   margin-left: 120px; 
}
.vidtext h5 a{
    
    color:#0F0D0D;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 800;
    text-decoration: none;
}
.vidtext p{
    color: #0F0D0D;
    font-size: 1.2vw;
    font-weight: 500;
}
.page3-part3{
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    position: absolute;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.page3-part3 h2{
    text-transform: uppercase;
    margin-left: 120px;
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    color: #0F0D0D;

}
.circle{
    width: 125px;
    height: 125px;
    border-radius: 100px;
    margin-right: 120px;
    background-color:#EDBFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.circle p{
    color:#0F0D0D;
    font-weight: 800;
    font-size: 1vw; 
}



/*page 4*/
.page4{
    width: 100%;
    height: fit-content;
         /* background-color: #b2fbbe; */
    position: relative;
    z-index: 9;
    padding: 90px 100px ;
    /* border-bottom: 2px solid #5e5e5e; */
}
.elem{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text-div{
    /* background-color: lightblue; */
    height: 90px;
    overflow: hidden;
}
.elem h1{
    font-size: 5vw;
    transition: all ease-out 0.5s;
}
.elem:hover h1{
    transform: translateY(-100%);
    color:#D3B2FB;

}
.elem img{
    height: 40vh;
    width: 30vh;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
    
}
.elem:hover img{
opacity: 1;
transform: translateY(0%) rotate(0deg);
}
.elem img:nth-child(1){
    left:12%;
    height: 36vh;
    width:45vh

}
.elem img:nth-child(3){
    right:20%;
}
/*page 5*/
.page5{
    width: 100%;
    height: 120vh;
    padding: 36px 150px ;
    /* background-color: #b8d20c; */
    position: relative;
    z-index: 9;
    border-bottom: 2px solid #b9b3b3 ;
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 500;
    padding: 30px 40px;
    margin-bottom: 12px;
    /* background-color: #EDBFFF; */
}
.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-top: 1.5px solid #5e5e5e;
    padding: 0 45px;
}
.box:nth-last-child(1){
    border-bottom: 1.5px solid #5e5e5e;
}
 /* footer  */
 #footer{
    height: 90vh;
    width: 100%;
    background-color: #EDBFFF;
 }
 #footer h2{
    font-size: 4rem;
    font-weight: 500;
    text-align: left;
    color: #0F0D0D;
    position: relative;
    left: 10%;
    top:30%;
    transform: translateX(-50%,0);
 }
 #footer .circle{
    position: relative;
    left:80%;
    top:10%;
    background-color:#FFF;
    
}
#footer-text{
    margin-top: 45px;
    width: 60vw;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
}
#footer-text p{
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    color: #0F0D0D;
}
